PORT=8080
APP_PATH_PREFIX=app
REDIRECTOR_BASE_URL=http://localhost:8080

POSTGRES_DB=short
POSTGRES_PASSWORD=password
POSTGRES_USER=postgres

# PG urls accessible from the host, used by atlas, psql, et al.
DEV_HOST_DB_URL=postgres://postgres:password@localhost:5432/short?sslmode=disable
PROD_HOST_DB_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8090/app/auth/google/callback

SESSION_SECRET=
