<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🩳</text></svg>">
  <title>Create New Short Link | Short</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{ $p := .AppPathPrefix }}
      <li><a href="/{{$p}}/links">My Links</a></li>
      <li><a href="/{{$p}}/auth/google">Sign in with Google</a></li>
      <li>
        <form action="/{{$p}}/signout" method="POST">
          <button type="submit">Sign Out</button>
        </form>
      </li>
      <li><a href="/{{$p}}/links/new">Create New Link</a></li>
    </ul>
  </nav>

  <h1>🩳 Short</h1>

  <form method="POST">
    <h2>Create a new short link</h2>

    {{ with .validationErrors.Duplicates }}
      {{ if .Urls }}
        <div class="has-duplicates">
          <h3>You've shortened this link before:</h3>
          <ul>
            {{ range .Urls }}
            <li><a href="{{ .Href }}">{{ .Text }}</a></li>
            {{ end }}
          </ul>
          {{ if gt .RemainingCount 0 }}
            <p>... and {{ .RemainingCount }} others</p>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}

    <p>
      <label for="url">Destination</label>
      <input
          type="text"
          name="url"
          id="url"
          max-length="2048"

          {{ $destUrl := .validationErrors.FormFields.Url.Value }}
          value="{{ if $destUrl }}{{ $destUrl }}{{ end }}"
      />
      {{ with .validationErrors.FormFields.Url }}
        <p>{{ .Message }}</p>
      {{ end }}
    </p>
    <p>
      <label for="create-duplicate">Create Duplicate</label>
      <input
        type="checkbox"
        name="create-duplicate"
        id="create-duplicate"
        {{ if .validationErrors.FormFields.CreateDuplicate.IsChecked }} checked {{ end }}
      />
      <p>If you've previously shortened the same url, we'll create a separate one with a new short code.</p>
    </p>
    <p>
      <label for="title">Title (optional)</label>
      {{ $title := .validationErrors.FormFields.Title.Value }}
      <input type="text" name="title" id="title" value="{{ if $title }}{{ $title }}{{ end }}"/>
    </p>
    <p>
      <label for="notes">Notes (optional)</label>
      {{ $notes := .validationErrors.FormFields.Notes.Value }}
      <textarea name="notes" id="notes">{{ if $notes }}{{ $notes }}{{ end }}</textarea>
    </p>
    <button type="submit">Create Link</button>
  </form>
</body>
</html>
