<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/app/static/img/icon.svg">
  <link rel="stylesheet" href="/app/static/css/styles.css">
  <title>Shorten A Link | Short</title>
</head>
<body class="container mx-auto max-w-screen-md px-4">

  <nav class="navbar container px-0 mx-auto">
    <div class="flex-1 -ml-4">
      <a href="/" class="btn btn-ghost text-3xl">
        <div class="flex items-center font-black text-slate-700">
          <span class="sr-only">SHORT</span>
          <span aria-hidden="true">S</span>
          <img aria-hidden="true" class="h-[1em]" src="/app/static/img/icon.svg" >
          <span aria-hidden="true">ORT</span>
        </div>
      </a>
    </div>
    <ul class="menu menu-horizontal px-0 -mr-4">
      {{ $p := .AppPathPrefix }}
      {{ if .user }}
        <li><a href="/{{$p}}/links">My Links</a></li>
        <li><a href="/{{$p}}/links/new">Create New Link</a></li>
        <li>
          <form action="/{{$p}}/signout" method="POST">
            <button type="submit">Sign Out</button>
          </form>
        </li>
      {{ else }}
        <li><a href="/{{$p}}/auth/google">Sign in</a></li>
      {{ end }}
    </ul>
  </nav>

  <main class="py-4 grid gap-4">
    {{ with .validationErrors.Message }}
      <p role="alert" class="alert alert-error rounded text-white shadow">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
        </svg>
        <span>{{ . }}</span>
      </p>
    {{ end }}

      {{ if eq .linksRemaining 0 }}
        <p role="alert" class="alert alert-error rounded text-white shadow">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
          </svg>
          <span>You can't create anymore links this month. Upgrade to pro for more.</span>
        </p>
      {{ else }}
        <p class="flex justify-end gap-2 text-slate-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
          </svg>
          <span>You can create <strong>{{ .linksRemaining }}</strong> more links this month.</span>
        </p>
      {{ end }}

    <form
      method="POST"
      class="grid gap-6 shadow p-4 bg-slate-100 rounded"
      {{ if eq .linksRemaining 0 }}inert{{ end }}
    >
      <h2 class="font-bold text-xl capitalize">Create new Short link</h2>

      {{ with .validationErrors.Duplicates }}
        {{ if .Urls }}
          <div role="alert" class="alert alert-warning rounded">
            <h3>
              <svg class="size-6 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
              </svg>
              <span>{{ .Message }}</span>
            </h3>
            <div class="col-start-1 row-start-2 row-span-2">
              <ul class="list-disc list-inside">
                {{ range .Urls }}
                <li><a class="link" href="{{ .Href }}">{{ .Text }}</a></li>
                {{ end }}
              </ul>
              {{ if gt .RemainingCount 0 }}
              <p>... and {{ .RemainingCount }} others</p>
              {{ end }}
            </div>
          </div>
        {{ end }}
      {{ end }}

      <div class="grid gap-1">
        <label for="url" class="block font-bold text-slate-600">Destination</label>
        <input
            type="text"
            name="url"
            id="url"
            max-length="2048"
            class="appearance-none border w-full py-2 px-3"
            placeholder="https://example.com"
            required

            {{ $destUrl := .validationErrors.FormFields.Url.Value }}
            value="{{ if $destUrl }}{{ $destUrl }}{{ end }}"
        />
        {{ with .validationErrors.FormFields.Url }}
          <p class="text-red-500 text-xs italic">{{ .Message }}</p>
        {{ end }}
      </div>

      {{ if .userSubscription.CanCreateDuplicates }}
        <div class="grid grid-cols-[1.25rem,auto] grid-rows-2 gap-x-2">
          <input
            type="checkbox"
            name="create-duplicate"
            id="create-duplicate"
            class="w-5 col-start-1"
            {{ if .validationErrors.FormFields.CreateDuplicate.IsChecked }} checked {{ end }}
          />

          <label for="create-duplicate" class="font-bold text-slate-600 col-start-2">
            Create Duplicate
          </label>

          <p class="col-start-2 text-sm italic">If you've already shortened the same url, a separate one will be created with a new short code.</p>
        </div>
      {{ end }}

      {{ if .userSubscription.CanCustomisePath }}
        <div class="grid gap-1">
          <label for="path" class="block font-bold text-slate-600">Custom path <span class="text-xs italic">(optional)</span></label>
          <input
              type="text"
              name="path"
              id="path"
              class="appearance-none border w-full py-2 px-3"
              placeholder="customslug"
              minlength="{{ .customPathConfig.MinLength }}"
              maxlength="{{ .customPathConfig.MaxLength }}"

              {{ $path := .validationErrors.FormFields.Path.Value }}
              value="{{ if $path }}{{ $path }}{{ end }}"
          />
          {{ with .validationErrors.FormFields.Path }}
            <p class="text-red-500 text-xs italic">{{ .Message }}</p>
          {{ end }}
        </div>
      {{ end }}

      <div class="grid gap-1">
        <label for="title" class="block font-bold text-slate-600">Title <span class="text-xs italic">(optional)</span></label>
        <input
          type="text"
          name="title"
          id="title"
          class="appearance-none border w-full py-2 px-3"
          placeholder="My link"

          {{ $title := .validationErrors.FormFields.Title.Value }}
          value="{{ if $title }}{{ $title }}{{ end }}"
        />
      </div>

      <div class="grid gap-1">
        <label for="notes" class="block font-bold text-slate-600">Notes <span class="text-xs italic">(optional)</span></label>
        <textarea
          name="notes"
          id="notes"
          class="appearance-none border w-full py-2 px-3"

          {{ $notes := .validationErrors.FormFields.Notes.Value }}
        >{{ if $notes }}{{ $notes }}{{ end }}</textarea>
      </div>

      <div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Create Short Link
        </button>
      </div>
    </form>
  </main>
</body>
</html>
