<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🩳</text></svg>">
  <title>Create New Short Link | Short</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/links">My Links</a></li>
      <li><a href="/auth/google">Sign in with Google</a></li>
      <li>
        <form action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </li>
      <li><a href="/links/new">Create New Link</a></li>
    </ul>
  </nav>

  <h1>🩳 Short</h1>

  <form method="POST">
    <h2>Create a new short link</h2>

    {{ with .validationErrors.Duplicates }}
      {{ if .Urls }}
      <div class="has-duplicates">
        <h3>You've shortened this link before:</h3>
        <ul>
          {{ range .Urls }}
          <li><a href="{{ .Href }}">{{ .Text }}</a></li>
          {{ end }}
        </ul>
        {{ if gt .RemainingCount 0 }}
          <p>... and {{ .RemainingCount }} others</p>
        {{ end }}
      </div>
      {{ end }}
    {{ end }}

    <p>
      <label for="url">Destination</label>
      <input
          type="text"
          name="url"
          id="url"
          max-length="2048"

          {{ $destUrl := .validationErrors.Duplicates.DestinationUrl }}
          value="{{ if $destUrl }}{{ $destUrl }}{{ end }}"
      />
      {{ with .validationErrors.FormFields.url }}
        <p>{{ . }}</p>
      {{ end }}
    </p>
    <p>
      <label for="allow-duplicate">Create Duplicate</label>
      <input type="checkbox" name="allow-duplicate" id="allow-duplicate"/>
      <p>If you've previously shortened the same url, we'll create a separate one with a new short code.</p>
    </p>
    <p>
      <label for="title">Title (optional)</label>
      <input type="text" name="title" id="title" />
    </p>
    <p>
      <label for="notes">Notes (optional)</label>
      <textarea name="notes" id="notes"></textarea>
    </p>
    <button type="submit">Create Link</button>
  </form>
</body>
</html>
