<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🩳</text></svg>">
  <title>Dashboard | Short</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/google">Sign in with Google</a></li>
      <li>
        <form action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </li>
      <li><a href="/links/new">Create New Link</a></li>
    </ul>
  </nav>

  <p><a href="/auth/google">Sign in with Google</a></p>
  <h1>🩳 Short</h1>
  <h2>Dashboard</h2>
  <h3>Hello {{.user.name}}!</h3>

  {{ if not .links.Links }}
    <p>No links found. <a href="/links/new">Shorten one.</a></p>
  {{ else }}
    <ul>
      {{ range .links.Links }}
        <li>

          <h3>
            <a href="links/{{ .short_code }}">
              {{ with .title }}
                {{ . }}
              {{ else }}
                {{ .destination_url }}
              {{ end }}
            </a>
          </h3>

          {{ $shortUrl := printf "https://ddo.sh/%s" .short_code }}
          <p><a href="{{ $shortUrl }}">{{ $shortUrl }}</a></p>

          <p><a href="{{ .destination_url }}">{{ .destination_url }}</a></p>

          {{ with .notes }}
            <p>{{ . }}</p>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
</body>
</html>
