<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/app/static/img/icon.svg">
  <link rel="stylesheet" href="/app/static/css/styles.css">
  <title>Short</title>
</head>
<body class="container mx-auto max-w-screen-md h-dvh px-4 grid items-center justify-center">
  <h1 class="flex items-center font-black text-slate-700 text-9xl">
    <span class="sr-only">SHORT</span>
    <span aria-hidden="true">S</span>
    <img aria-hidden="true" class="h-[1em]" src="/app/static/img/icon.svg" >
    <span aria-hidden="true">ORT</span>
  </h1>
</body>
</html>
