<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🩳</text></svg>">
  <title>Link {{ .link.ShortCode }} | Short</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{ $p := .AppPathPrefix }}
      <li><a href="/{{$p}}/links">My Links</a></li>
      <li><a href="/{{$p}}/auth/google">Sign in with Google</a></li>
      <li>
        <form action="/{{$p}}/signout" method="POST">
          <button type="submit">Sign Out</button>
        </form>
      </li>
      <li><a href="/{{$p}}/links/new">Create New Link</a></li>
    </ul>
  </nav>

  <h1>🩳 Short</h1>

  {{ with .link }}
    <div>
      <h3>
        {{ with .Title.String }}
          {{ . }}
        {{ else }}
          {{ .DestinationUrl }}
        {{ end }}
      </h3>

      <p>Visits: {{ len $.analytics }}</p>

      {{ $shortUrl := printf "%s/%s" $.RedirectorBaseURL .ShortCode }}
      <p><a href="{{ $shortUrl }}">{{ $shortUrl }}</a></p>

      <p><a href="{{ .DestinationUrl }}">{{ .DestinationUrl }}</a></p>

      {{ with .Notes.String }}
        <p>{{ . }}</p>
      {{ end }}

      {{ with .CreatedAt.Time }}
        <p>Created on: {{ .Format "2 Jan 2006 at 3:04 PM" }}</p>
      {{ end }}

      {{ if $.wasUpdated }}
        <p>Updated on: {{ .UpdatedAt.Time.Format "2 Jan 2006 at 3:04 PM" }}</p>
      {{ end }}

    </div>
  {{ end }}

  <div>
    <h2>Visits</h2>
    {{ if not .userSubscription.CanViewAnalytics }}
      <p>Upgrade to view analytics</p>
    {{ else }}
      <ol>
        {{ range .analytics }}
          <li>
            <p>Referrer: {{ .ReferrerUrl }}</p>
            <p>Visited on: {{ .RecordedAt }}</p>
            {{ with .UserAgent }}
              <p>{{ .BrowserName }} v{{ .BrowserVersion }}</p>
              <p>{{ .OSName }} {{ .OSVersion }}</p>
              <p>{{ .Device }}</p>
              <p>{{ .Type }}</p>
              <p>{{ .UAString }}</p>
            {{ end }}

            {{ with .GeoData }}
              <p>{{ .City }}, {{ .Region }}, {{ .Country }}</p>
            {{ end }}
          </li>
        {{ end }}
      </ol>
    {{ end }}
  </div>
</body>
</html>
