<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🩳</text></svg>">
  <title>My Links | Short</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{ $p := .AppPathPrefix }}
      <li><a href="/{{$p}}/links">My Links</a></li>
      <li><a href="/{{$p}}/auth/google">Sign in with Google</a></li>
      <li>
        <form action="/{{$p}}/signout" method="POST">
          <button type="submit">Sign Out</button>
        </form>
      </li>
      <li><a href="/{{$p}}/links/new">Create New Link</a></li>
    </ul>
  </nav>

  <p><a href="/{{$p}}/auth/google">Sign in with Google</a></p>
  <h1>🩳 Short</h1>
  <h2>My Links</h2>
  <h3>Hello {{ .user.Username }}!</h3>

  {{ if not .links }}
    <p>No links found. <a href="/{{$p}}/links/new">Shorten one.</a></p>
  {{ else }}
    <ul>
      {{ range .links }}
        <li>

          <h3>
            <a href="/{{$p}}/links/{{ .short_code }}">
              {{ with .title }}
                {{ . }}
              {{ else }}
                {{ .destination_url }}
              {{ end }}
            </a>
          </h3>

          {{ $shortUrl := printf "%s/%s" $.RedirectorBaseURL .short_code }}
          <p><a href="{{ $shortUrl }}">{{ $shortUrl }}</a></p>

          <p><a href="{{ .destination_url }}">{{ .destination_url }}</a></p>

          {{ with .notes }}
            <p>{{ . }}</p>
          {{ end }}
        </li>
      {{ end }}
    </ul>

    {{ with .paginationLinks }}
      <div>
        <ul>
          {{ range .}}
            <li>
              {{ if .Disabled }}
                <a href="#" class="disabled">{{ .Text }}</a>
              {{ else }}
                <a href="{{ .Href }}">{{ .Text }}</a>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

  {{ end }}

</body>
</html>
