<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🩳</text></svg>">
  <title>Link {{ .link.ShortCode }} | Short</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/links">My Links</a></li>
      <li><a href="/auth/google">Sign in with Google</a></li>
      <li>
        <form action="/signout" method="POST">
          <button type="submit">Sign Out</button>
        </form>
      </li>
      <li><a href="/links/new">Create New Link</a></li>
    </ul>
  </nav>

  <h1>🩳 Short</h1>

  {{ with .link }}
    <div>
      <h3>
        <a href="links/{{ .ShortCode }}">
          {{ with .Title.String }}
            {{ . }}
          {{ else }}
            {{ .DestinationUrl }}
          {{ end }}
        </a>
      </h3>

      {{ $shortUrl := printf "https://ddo.sh/%s" .ShortCode }}
      <p><a href="{{ $shortUrl }}">{{ $shortUrl }}</a></p>

      <p><a href="{{ .DestinationUrl }}">{{ .DestinationUrl }}</a></p>

      {{ with .Notes.String }}
        <p>{{ . }}</p>
      {{ end }}

      {{ with .CreatedAt.Time }}
        <p>Created on: {{ .Format "2 Jan 2006 at 3:04 PM" }}</p>
      {{ end }}

      {{ if $.wasUpdated }}
        <p>Updated on: {{ .UpdatedAt.Time.Format "2 Jan 2006 at 3:04 PM" }}</p>
      {{ end }}

    </div>
  {{ end }}

</body>
</html>
